form {
    display: flex;
    flex-direction: column;
}

.textArea {
  display: block;
  width: 25%;
  overflow: hidden;
  min-height: 40px;
  line-height: 20px;
  border: 1px solid #ccc;
  padding: 4px 6px;
  resize: unset;
}

button {
    width: calc(25% + 14px);
}