ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
}

ul li {
    border: 1px solid blueviolet;
    padding: 3px;
    margin: 2px auto;
    margin-left: 10px;
}

h3 {
    margin-bottom: 0;
    padding: 0;
}